* {
	box-sizing: border-box;
}

html, body {
	min-height: 100vh;
	margin: 0;
}

img {
	max-width: 100%;
}

.quotes {
	color: rbg(40,40,40);
	display: flex;
}

div > div {
	width: 250px;
	height: 250px;
	padding: 20px;
}

.active{
	background-color: #F6F1C4;
}